@use 'src/scss/global.scss' as *;

.login {
   background-color: $white-1;
   height: 431px;
   width: 323px;
   border-radius: 32px;
   @include flex-center;
   padding-left: 27px;
   font-family: 'Noto Sans';

   h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 700;
   }

   h3 {
      font-size: 20px;
      color: $pink-1;
      margin-bottom: 28px;
      margin-top: 4px;
      font-weight: 400;
   }

   p {
      font-size: 16px;
      color: $grey-2;
   }

   .log-in-form {
      padding-right: 25px;

      .inputs {
         @include flex-center;
         display: flex;
         flex-direction: column;
         gap: 20px;

         label {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: $grey-3;
            border-radius: 8px;
            position: relative;
            border: 0.7px solid $grey-4;
            padding-left: 40px;
            font-size: 14px;

            img {
               position: absolute;
               top: 25%;
               left: 12px;
            }

            input {
               flex-grow: 1;
               border: none;
               background-color: $white-1;
               outline: none;
               width: 140px;
               height: 44px;
               border-top-right-radius: 8px;
               border-bottom-right-radius: 8px;
               padding-left: 28px;

               &::placeholder {
                  color: $grey-4;
                  font-size: 15px;
               }
            }
         }
      }

      button {
         background-color: $pink-1;
         height: 46px;
         width: 290px;
         border-radius: 8px;
         border: 0;
         font-size: 18px;
         font-weight: bold;
         color: $white-1;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
      }

      button,
      label,
      p {
         cursor: pointer;
      }
   }
}
